{% extends "base.html" %}
{% load static %}
{% block title %}Booking{% endblock %}
{% block content %}
<section class="booking">
    <div class="booking-form">
        <h1>Book a Visit</h1>
        <form method="POST" action="/booking/" class ="form">
            {% csrf_token %}
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="time">Preferred Time:</label>
                <input type="time" id="time" name="time" required>
            </div>
            <div>
                <label for="date">Preferred Date:</label>
                <input type="date" id="date" name="date" required>
            </div>
            <button type="submit" class="btn">Confirm Booking</button>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}    
        </form>
    </div>
</section>
{% endblock %}