*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url('../images/hair_salon_background_tiled_9x16.png');;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30vh 10vh auto auto 20vh;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "promotion promotion promotion"
        "catalogue appointment timing"
        "footer footer footer";
}
header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 12;
    /* background-color: bisque;
    border: solid 3px #333; */
    /* color: white;
    text-align: center;
    padding: 20px; */
}
header>img{
    height: 90%; 
}
nav{
    grid-area: nav;
    background-color: #333;
    grid-column: 1 / span 12;
    border-radius: 20px;
    margin: 0 20%;
}
nav>ul{
    list-style-type: none;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.promotion{
    grid-area: promotion;
    background-color: #f4f4f4;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px 10%;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: left;
    box-shadow: 0 2px 5px #333;
}
.catalogue{
    grid-area: catalogue;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 20px 5%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #333;
}
.catalogue>h2{
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 10px;
}
.catalogue>img{
    width: 90%;
    border-radius: 10px;
}
.catalogue>p{
    text-align: left;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    margin: 10px;
    padding: 10px;
}
.appointment{
    grid-area: appointment;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 20px 5%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #333;
}
.appointment>h2{
    margin: 10px;
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
}
.appointment>img{
    width: 90%;;
    border-radius: 10px;
}
.appointment>p{
    text-align: left;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    margin: 10px;
    padding: 10px;
}
.timing{
    grid-area: timing;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: 20px 5%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px #333;
}
.timing>h2{
    text-align: center;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 10px;
}
.timing>img{
    width: 90%;
    border-radius: 10px;
}
.timing>p{
    width: 90%;
    text-align: left;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    padding: 10px;
}
.promotion>img{
    width: 100%;
    border-radius: 10px;
}
.promotion>h2{
    position: absolute;
    top: 50%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: clamp(1.2rem, 3vw, 3rem);
    text-shadow: 2px 2px 4px #333;
}
.promotion>p{
    position: absolute;
    top: 70%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
footer{
    grid-area: footer;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
hr{
    width: 50%;
    color: #333;
    border: solid 1px #333;
    box-shadow: 0 2px 5px #333;
}
footer>img{
    width: 50%;
    border-radius: 10px;
}
footer>p{
    margin: 10px;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin: 10px;
}
nav a{
    text-decoration: none;
    color: bisque;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}
nav a:hover{
    color: whitesmoke;
    text-decoration: none;
    text-shadow: 5px #333;
}
section a{
    text-decoration: none;
    color: rgb(222, 84, 60);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}
.services{
    grid-column: 1 / span 3;
    margin: 10px 5%;
    height: 100%;
}
.booking{
    grid-column: 1 / span 3;
    margin: 10px 0;
    height: 100%;
}
.services-list{
    background-color: #f4f4f4;
    list-style-type: none;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 100%;
}
.booking-form{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 20%;
}
.service{
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}
.service-details{
    display: flex;
    margin-top: 20px;
    width: 60%;
    height: 80%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.services-image{
    width: 30%;
    margin-top: 10px;
    border-radius: 10px;
    float: right;
}
.btn{
    background-color: rgb(222, 84, 60);
    color: white;
    box-shadow: #333 0 2px 5px 0;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}
.alert{
    color: #333;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    text-align: center;
    margin: 5px;
}
@media (max-width: 768px) {
    .services-image{
        width: 100%;
        float: none;
    }
    .service-details{
        width: 100%;
        height: 40%;
        justify-content: space-around;
        align-items: center;
    }
}